---
import Page from "../components/Page.astro";
---

<Page title="aditya patels Portfolio">
  <h1>
    aditya patels Portfolio
  </h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li data-aos="fade-down-left">
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>
  <h2>About Me</h2>
  <p>All About me...</p>
</Page>
