---
import Page from "../components/Page.astro";
---

<Page title="aditya patels Portfolio">
  <h1>aditya patels Portfolio</h1>
  <h2>Project Menu</h2>
  <nav>
    <ul>
      <li data-aos="fade-down-left">
        <a href="./projects/binary-search/"> Binary Search Project </a>
      </li>
      <li>
        <a href="./projects/Turtle/"> Turtle Project </a>
      </li>
      <li>
        <a href="./projects/Mash/"> Mash Project </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
    <li>
        <a href="./projects/imagefilter/"> imagefilter Project </a>
      </li>
  </nav>
  <h2>About Me</h2>
  <p>
    All About me... i am 16 i like playing sports such as soccer and basketball
    and i first came to iacs during my freshman year
  </p>
</Page>
