---
import Project from "../../components/Project.astro";
---

<Project
  title="Mash project Scramble and Spelling Bee"
  assignment="be able to use lists to create a word game"
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
   <iframe src="https://iacs-cs.github.io/mash-game-mason-s-team/"></iframe>
  </Project>
