---
import Project from "../../components/Project.astro";
---

<Project
  title="Turtle drawing project"
  assignment="be able to draw a prompt of the programm "
>
  <p>My project was super fun, I worked hard on it!</p>
  <!-- Replace src="" on iframe with address of your published
   project :-) -->
  <p
    class="codepen"
    data-height="300"
    data-default-tab="html,result"
    data-slug-hash="YPKyZKP"
    data-pen-title="Text Interface Library + Turtle (In Series)"
    data-user="allanmachogu"
    style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
  >
    <span
      >See the Pen <a href="https://codepen.io/allanmachogu/pen/YPKyZKP">
        Text Interface Library + Turtle (In Series)</a
      > by ALLANMACHOGU (<a href="https://codepen.io/allanmachogu"
        >@allanmachogu</a
      >) on <a href="https://codepen.io">CodePen</a>.</span
    >
  </p>
  <script async src="https://public.codepenassets.com/embed/index.js"></script>
</Project>
